.ocultar {
    display: none;
}

.mostrar {
    display: block;
}
img{
    height: 200px;
    width: 200px;
}
.cartelera{
    text-align: center;
    color: darkgoldenrod;
    background-color: aquamarine;
    margin: 10px;
    border-color: goldenrod;
    border-radius: 30px;
}

.resultado{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}



